In [3]:
import mysql.connector
import pandas as pd 
import seaborn as sns

In [5]:
connect = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='P@r@g2003',
    database='e_master_card'
)

In [7]:
df_trans = pd.read_sql("SELECT * FROM transactions" , connect )
df_trans.head(3)

C:\Users\PARAG\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,tran_id,cust_id,tran_date,tran_amount,platform,product_category,payment_type
0,1,705,2023-01-01,63,Flipkart,Electronics,Phonepe
1,2,385,2023-01-01,99,Alibaba,Fashion & Apparel,Credit Card
2,3,924,2023-01-01,471,Shopify,Sports,Phonepe

In [8]:
connect.close()